#container {
  position: relative;
}
#header {
  padding: 25px 0 5px 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 999;
}
.img-header {
  width: 230px;
}
.search-header {
  display: inherit;
  width: 100%;
  padding: 5px 31px 5px 31px;
  font-size: 14px;
  width: 80%;
  margin: 0 auto;
  border-radius: 50px;
  border: 0.2px solid gray;
}
.nav-header a + a {
  margin-right: 15px;
}
.dropdownHeader {
  position: absolute;
  bottom: 3px;

  transform: translateY(100%);
  background-color: rgb(242, 242, 247);
  box-shadow: 0px 5px 16px -3px gray;
  padding: 0 30px 0 30px;

  left: 15%;
  width: 70%;
  z-index: 999;
}
