.price {
  color: #ec3857;
}
.chip {
  position: absolute;
  top: 14px;
  left: 14px;
  padding: 0 8px 0 8px !important;
}
.product {
  // background-color: #eeeeee !important;
  cursor: pointer;
  padding: 15px;
  border-radius: 25px !important;
  position: relative;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 21, 0.15) !important;
}
.product:hover {
  border: 1px solid #ff536f;
  background-color: antiquewhite;
}
.iconProduct {
  padding: 10px !important;
  border-radius: 50rem !important;
  color: #ec3857 !important;
  border: 1px solid #ec3857 !important;
}
.product-icons {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 0 10px;
  transition: 'transform 1s linear';
}
