.checkout {
  font-family: "Lato", sans-serif;
}
.checkout_form {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 21, 0.15) !important;
  padding: 30px 20px;
  border-radius: 25px;
}
.title {
  font-family: "Lato", sans-serif;
}
