.checkout {
  font-family: "Lato", sans-serif;
}
.checkout_form {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 21, 0.15) !important;
  padding: 30px 40px;
  border-radius: 25px;
}
.title {
  font-family: "Lato", sans-serif;
}
input{
  padding: 13px!important;
  font-size: 19px !important;
  border-radius: 10px!important;
}
textarea{
  font-size: 19px !important;
}